<div class="header_img" id="faq_head">
    <div class="container">
        <div class="col-xs-12 img_container">
            <div class="col-xs-12 np" id="search_box">
                <span class="col-xs-12 intro_header ">
                    About Us
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="faqs">
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12 np faqQA">

            <div class="col-xs-12 description">
                3A Auction House is a leading Auction House in Nigeria, specializing in the efficient disposal of a range of residential and commercial properties, vehicles and other possessions on behalf of both private individuals and corporate bodies. We provide exciting buying opportunities and an unsurpassed property exit strategy that can help sellers move properties faster and at a greater profit.
                <br/><br/>
                Auctions provide the fastest route to selling, where the whole process from instruction to completion can take less than four to eight weeks. We regularly work with private investors, government establishments, financial institutions and public bodies for whom we generate sales.
                <br/><br/>
                We specialize in the expedited sale of properties and other assets through our innovative auctions and online bidding platform, placing premium on our reputation as a pioneer in the industry and as a customer service-driven company. Our auctions offer several classes of properties, including bank-owned assets, investment properties, distinctive residences, land, luxury properties, commercial assets and international properties. 3A Auctions prides itself on being one of a kind within the country and the property industry.
                <br/><br/>
                With support from our highly trained staff, our company utilizes technology to make transactions less cumbersome and more cost effective for all parties. Our primary goal at 3A Auctions is to continue to provide a vast number of investment opportunities at discounted prices to buyers nationwide while positioning ourselves as an integral sales tool for those looking to sell properties within an accelerated timeframe.
                <br/><br/>
                The key to our success is accurate valuations, a strong database of active investors and a proactive marketing strategy before, during and after each auction.
            </div>
        </div>

    </div>

</div>
