<div class="container" id="auction_details">
    <div class="col-xs-12 search ">

        <div class="col-xs-8 col-xs-offset-1 form_container shadow">
            <span  class="glyphicon glyphicon-zoom-in icon"></span>
            <input class="col-xs-11 pull-right" type="text" />
        </div>
        <div class="col-xs-2 primary_button shadow">Search</div>
    </div>
</div>
<div class="main_body" id="auction_body">
    <div class="container" >
        <div class="col-xs-12 np">
            <div class="col-xs-12 np">
                <span class="bid_signal_open shadow_3"></span>
                <span class="content_description">Bid Open</span>
                <span class="small_divider">|</span>
                <span class="content_description">Closes Today 08:30pm</span>
            </div>
        </div>
        <div class="col-xs-12 np auction_detail_content">
            <div class="col-xs-12 col-sm-5 np">
                <div class="col-xs-12 slide_show np">

                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-1 np">
                <div class="col-xs-12 np">
                    <span class="glyphicon glyphicon-star rating_fill"></span>
                    <span class="glyphicon glyphicon-star rating_fill"></span>
                    <span class="glyphicon glyphicon-star rating_fill"></span>
                    <span class="glyphicon glyphicon-star rating_fill"></span>
                    <span class="glyphicon glyphicon-star rating_null"></span>
                </div>
                <div class="col-xs-12 content_main_header np">
                    5 Bedroom duplex in Lekki Phase II
                </div>
                <span class="divider col-xs-3 np"></span>
                <span class="col-xs-12 price_big np"><span> &#8358; </span>25,000,000</span>
                <div class="col-xs-6 col-sm-5 col-md-4 secondary_but s_but" id="detail_contact">Contact Seller</div>
                <div class="col-xs-12 col-sm-10 np" id="send_bid">
                    <span class="divider col-xs-12"></span>
                    <form class="col-xs-12 auction_bidding_form np">
                        <div class="tab spacer">
                            <span class="col-xs-12 np">Name</span>
                            <input type="text" />
                        </div>
                        <div class="tab">
                            <span class="col-xs-12 np">Email</span>
                            <input type="text" />
                        </div>
                        <div class="col-xs-12 np">
                            <span class="col-xs-12 np">Bidding Cost</span>
                            <div class="col-xs-12 bid_container">
                                <span> &#8358; </span>
                                <input type="text" />
                            </div>
                        </div>
                        <input type="submit" class="col-xs-12 primary_button" value="BID NOW" />
                    </form>
                </div>
                <div class="col-xs-12 np content_description">
                        Nec elit modi rem taciti integer consectetuer maiores,
                        euismod laudantium quisque fringilla wisi mollit adipisci,
                        ullamco saepe malesuada, proident aenean dictum. Totam. Inceptos
                        habitasse. Mattis iusto voluptatum? Laboriosam, primis consequatur,
                        diamlorem doloribus sed, molestie risus pariatur ullamcorper accusantium quidem posuere, animi commodi unde dolores congue ridiculus.
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row" id="all_bids">
    <div class="container">
        <div class="col-xs-12 content_head np">
            <div class="col-xs-12 col-sm-8 content_sub_header np">
                Similar Bids
            </div>
            <span class="col-xs-12 col-sm-4 np">
                <span class="primary_button pull-right">
                    See all
                </span>
            </span>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12  col-sm-3 auction_item shadow np">
            <div class="col-xs-12 np img_container">
                <img src="" height="auto" class="col-xs-12 np" />
                <span class="aution_notification"></span>
            </div>
            <div class="col-xs-12 auction_thumbDetails ">
                <span class="col-xs-12 title np">5 Bedroom Apartment</span>
                <span class="col-xs-12 price np"><span> &#8358; </span>25,000,000</span>
                <span class="col-xs-12 secondary_but s_but">Bid Now</span>
            </div>
        </div>
        <div class="col-xs-12 divider"></div>
        <div class="col-xs-12 np search_footer">
            <div class="col-xs-6 np">
                <a href="" class="long_arrowL ">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
                <span class="content_description">Previous Page</span>
            </div>
            <div class="col-xs-6 np">
                <div class="pull-right">
                    <span class="content_description">Next Page</span>
                    <a href=""  class="long_arrowR">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </a>
                </div>
            </dv>
        </div>
    </div>
</div>
