<div class="header_img" id="faq_head">
    <div class="container">
        <div class="col-xs-12 img_container">
            <div class="col-xs-12 np" id="search_box">
                <span class="col-xs-12 intro_header ">
                    Frequently Asked Questions
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="faqs">
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">GENERAL QUESTIONS</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">What is a Property Auction about?</div>
            <div class="col-xs-12 description">A Property Auction is a method of buying and selling real estate which simplifies the purchasing process through the medium of an auctioneer.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Why buy property at an auction?</div>
            <div class="col-xs-12 description">Because sellers save the cost of holding their property, buyers in turn can take advantage of these savings. An auction provides the opportunity for buyers to buy at a price, which is established by the purchasers.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Where can I get information on the properties for sale</div>
            <div class="col-xs-12 description">The auction sale brochure or flyer will list all the addresses and a general description of the properties available, as well as the open house schedule. Additional information such as tax and assessment information, lease information, terms of sale, the real estate sales contract and financing terms are printed in the Bidder's information Package available at our open house.</div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">REGISTRATION</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">How do I bid?</div>
            <div class="col-xs-12 description">After registering at the auction, you will receive a numbered bidder's card. This card should be visible while you are bidding, or our auctioneer and staff may not notice or take your bid. Our Bid Assistants watch for bidders and will call in your bid when you tell them to do so.</div>
        </div>

    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">BID INSTRUCTIONS</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Is there a starting bid?</div>
            <div class="col-xs-12 description">The auctioneer invites an opening bid for each property at a price level low enough to stimulate competitive bidding while high enough to speed the sale along. It is more art than science.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Will I be able to understand the auctioneer?</div>
            <div class="col-xs-12 description">Yes. Our auctioneers call the bids in a simple manner. They also conduct pre-auction seminars an hour before the auction to explain their calling technique, and make you more comfortable with the auction procedure. In addition, our Bid Assistants will assist you when you bid by getting the auctioneer's attention. Work with your Bid Assistant.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">What if I am out of town on the day of the auction?</div>
            <div class="col-xs-12 description">If you will not be attending the auction and would like someone to bid in your place, they must be authorized to represent you by having a power of attorney document, and meet all other registration requirements.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">In what condition is the property?</div>
            <div class="col-xs-12 description">All properties will differ as to their condition, and are sold in "as is”, “where is" condition without warranty or guarantee of any kind (other than clear title). Bidders are strongly encouraged to inspect the property prior to the sale.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">How many properties can I buy? </div>
            <div class="col-xs-12 description">You may purchase as many properties as you wish, but you must have separate 10% deposits, instant payment for each one.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Why is the property being auctioned?</div>
            <div class="col-xs-12 description">The real estate auction provides an expeditious means for banks and owners to sell many properties in one or two days, saving millions of naira in holding costs.</div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">FINANCIAL INFORMATION</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">In what form is the earnest money deposit required?</div>
            <div class="col-xs-12 description">Prospective buyers must bring a POS payment or instant payment (with proof of funds) in order to bid. If you are the successful high bidder, this money will then be considered all or part of the earnest money deposit and is not refundable. </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">What happens to my money if I decide at a later date not to buy the property? </div>
            <div class="col-xs-12 description">All deposits made will be forfeited if you fail to consummate the sale regardless of the reason. If the seller fails to close because of defective title, etc… your deposits will be refunded immediately. </div>
        </div>

    </div>
</div>
