<div class="header_img" id="faq_head">
    <div class="container">
        <div class="col-xs-12 img_container">
            <div class="col-xs-12 np" id="search_box">
                <span class="col-xs-12 intro_header ">
                    General Auction Information
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="faqs">
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Identity Requirements</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12 description">
                If you are bidding at the Auction, we must be able to verify your identity. The following schedule of acceptable documentation shows the documentation that you must have available at the auction or when signing contracts (prior to auction) in order for us to conduct business with you.
                <br/><br/>
                In general we will require two forms of identification. You must allow us to photocopy this documentation for storage and file for 5 years. In respect to individuals we are required to verify your names and residential address and require two documents
                <br/><br/>
                List A (Mandatory)
                - Current valid international passport
                - Current valid driver’s license
                <br/><br/>
                List B (Please provide at least one item)
                - Utility bill (less than three months old)
                - A bank/credit card or building society statement no less than three months old

            </div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">PRIOR TO THE AUCTION</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Obtain a Catalogue</div>
            <div class="col-xs-12 description">
                For every auction, there is a catalogue that displays all of the properties that will be offered. Each catalogue is available approximately 2 weeks prior to the relevant auction.
                The catalogue is also available online a few days before it comes out in hard copy.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Online catalogue</div>
            <div class="col-xs-12 description">
                Visit our website and you will be able to view the latest catalogue online about 2 weeks prior to the relevant auction sale.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Printed catalogue</div>
            <div class="col-xs-12 description">
                You can obtain a printed catalogue by visiting our offices or Requesting a copy on our website www.3aauctions.com
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Peruse the lots</div>
            <div class="col-xs-12 description">
                Look through the catalogue and identify those lots that may be of interest. Note that some properties are offered with vacant possession, some some may be part-vacant.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Guide prices</div>
            <div class="col-xs-12 description">
                Every property has a Guide price that is published in the auction catalogue. The guide price is an indication of what the seller expects to achieve and is therefore subject to change. The guide price is not the price at which the property will necessarily sell, it can be less and it is not uncommon for properties to sell for a considerable amount above the guide price.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Addendum (Changes to the published information)</div>
            <div class="col-xs-12 description">
                Occasionally there will be changes to the property information published in the catalogue. These changes are published in the Addendum and can obtained from our offices at any time before the auction.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">View the property</div>
            <div class="col-xs-12 description">
                Viewings are arranged directly with the auctioneers or their joint agents.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Obtain legal documentation</div>
            <div class="col-xs-12 description">
                We prepare legal packs containing (where applicable) special conditions of sale, title deeds, leases, office copy entries, searches, replies to pre-contract enquiries which are normally available at our office.  If you wish to peruse the legal packs in our offices then this can be arranged too. Legal packs will usually be available for inspection in the auction room.
                Remember that you buy subject to all documentation and terms of contract whether or not you have read them.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Obtain a survey</div>
            <div class="col-xs-12 description">
                If you decide to have a survey done, please ask your surveyor to call us directly to make arrangements for access to the property.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Arrange your finance</div>
            <div class="col-xs-12 description">
                If you need to arrange a mortgage it is important that you obtain an offer from your lender in principle before the auction day. Most building societies and banks will wish to instruct a surveyor to prepare a valuation report before making a mortgage offer so you will need to make your mortgage application as early as possible. You will usually need to complete your purchase up to 20 working days after the day of the auction. You should discuss this with your lenders to make sure that this will not be a problem or you can contact any of our financial partners.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Understand all terms & conditions</div>
            <div class="col-xs-12 description">
                Buying property at auction is different to buying property privately and we strongly advise potential purchasers to check that they have read and understood all the various legal documents and terms & conditions.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Making an offer prior to the auction</div>
            <div class="col-xs-12 description">
                You can make an offer (which should be in writing, by fax or by email) for a property at any time up to the date of the auction, but if your offer is accepted you will have to be in a position to exchange contracts and pay your deposit immediately.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Online & Proxy Bidding</div>
            <div class="col-xs-12 description">
                If you are unable to attend the auction sale, you can bid via our website(in real time while the auction is taking place) or by proxy (where you specify your maximum bid in writing and the auctioneer bids on your behalf). In each case we need a completed registration form and a deposit to cover your deposit and buyer’s fee prior to the date of the auction.
            </div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">On the Auction Day</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Things to bring with you</div>
            <div class="col-xs-12 description">Your catalogue Payment for each lot you are bidding on (Please note neither cash nor cheques are accepted).
                <br/><br/>
                Identification –your driver's licence & passport (for photo ID) and a recent utility bill or bank statement (for proof of address).
</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">On arrival</div>
            <div class="col-xs-12 description">Pick up an addendum sheet, which contains the final amendments for each property. It is important that you read this document before bidding to see if there is any significant new information. The addendum forms part of the contract of sale. Then just take a seat.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Start of auction</div>
            <div class="col-xs-12 description">
                The auction will start promptly at the time printed in the catalogue. The auctioneer will make a number of announcements about the auction procedure. The auctioneer’s pre-sale announcements are summarised at the beginning of our catalogue. They will also announce withdrawn and pre-sold lots. Lots are almost always offered in the order in which they appear in the catalogue.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Bidding</div>
            <div class="col-xs-12 description">The auctioneer will announce each lot and refer to any last minute changes.
The current lot number is usually displayed on a screen next to the auctioneer<br/>
The auctioneer will invite bids at a particular level and you can make this bid by raising your hand, catalogue or number card that will be provided during registration.<br/>
The auctioneer will regulate the bidding increments until all the bidding is finished. He will give everyone a few moments warning before bringing down his gavel at which point the property is sold to the highest bidder. As soon as the gavel comes down a legal and binding contract is formed between the vendor and the winning bidder.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">If you win a property </div>
            <div class="col-xs-12 description">If you are the successful bidder you will be asked to:
Fill out a purchaser’s slip and provide identification – in the case of individuals we will need to verify both your name (ie by passport and driving licence) and your address (ie a recent utility bill or bank statement)
<br/><br/>
Provide the name, address and telephone number of the person or company if you are bidding on behalf of somebody else.
Supply the name and address of your solicitor.
<br/><br/>
Provide payment to cover the deposit (normally 10% of the purchase price and subject to the stipulated minimum amount). It is part of your legal obligation to pay the deposit on the day of the auction if a lot is knocked down to you.
Pay a buyer’s fee for each lot purchased in addition to the deposit.<br/><br/>
Details are printed in the catalogue or available on our website.
You will be given your part of the contract (see “Memorandum of Sale” in the back of the auction catalogue). Attached to the contract will be a copy of the “Notices” and “General Conditions of Sale” which contain our standard terms of sale, which are also printed in the catalogue. The Special Conditions of Sale are contractual terms that are specific to each lot offered. These are not printed in the catalogue but will also be attached to the contract. We will retain the part that you have signed for our records.
<br/><br/>
 Completion will usually take place 15 working days later (or as varied by the Special Conditions of Sale). Please do not leave the auction room without taking your signed contract. As soon as the hammer falls there is a binding contract of sale. The property is at your insurable risk from this point. Please ensure that you arrange your building insurance immediately after the sale.
<br/><br/>Please note: Properties are not sold “subject to contract”, “subject to finance” or “subject to survey” when you buy at auction. They are sold unconditionally. If you are the successful bidder, you are legally obliged to complete the sale. It is not necessary to have a mortgage in place when bidding but it is advisable to make sure you are able to complete your purchase should you be successful.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Unsold lots</div>
            <div class="col-xs-12 description">If a lot does not sell and you wish to buy it, please approach one of our staff and Register your interest with us before you leave the room. Quite often we can broker a deal with the vendor immediately after the auction has finished.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Results</div>
            <div class="col-xs-12 description">Results can be viewed on our website.</div>
        </div>
    </div>

</div>
