<div class="header_img" id="faq_head">
    <div class="container">
        <div class="col-xs-12 img_container">
            <div class="col-xs-12 np" id="search_box">
                <span class="col-xs-12 intro_header ">
                    A Guide to selling at 3A Auction House
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="faqs">
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Introduction</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12 description">
                A wide range of properties are suitable for sale by auction and, should your property fall into one of the categories below then sale by auction is certainly worth your consideration.

            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Properties requiring renovation or improvement</div>
            <div class="col-xs-12 description">
                These properties are in constant demand from investors, developers, builders. Whether the properties are renovated and re-sold, retained for owner occupation or released onto the rental
market by buy-to-let  investors after improvement the auction room  can find a buyer  for them.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Unique Properties</div>
            <div class="col-xs-12 description">
                Some properties are constantly in demand. Specialist properties, those in prime locations and those which are rarely offered to the market for sale are best  sold in a transparent bidding  environment. Sale by auction provides this and allows for maximum prices to be achieved in an open, public environment.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Tenanted Residential Properties</div>
            <div class="col-xs-12 description">
                Residential flats and houses which are tenanted are popular lots at auction.  Generally bought by other landlords as on-going investments as the properties can be sold without giving notice  to tenants.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Commercial Investment Properties</div>
            <div class="col-xs-12 description">
                There is always strong demand at auction for these types of properties whether vacant, part let or fully occupied.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Residential Investments</div>
            <div class="col-xs-12 description">
                Student lets, houses in multiple occupation, blocks of flats and entire portfolios of investment properties are worth considering for sale by auction.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Land and Development Projects</div>
            <div class="col-xs-12 description">
                Single building plots or multi-acre development land is always in demand at auction as is agricultural, amenity and  grazing land.
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Personal Circumstances</div>
            <div class="col-xs-12 description">
                Sometimes it’s as much about the person as the property. Perhaps, you need to free-up capital to fund another investment or purchase? Or if you need to dispose of a property as quickly as possible then auction is the route for you.
            </div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Why sell at auction?</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Speed</div>
            <div class="col-xs-12 description"> The fall of the hammer to completion is typically 15 working days.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Certainty</div>
            <div class="col-xs-12 description">When compared to typical private treaty sales,  where there is no guarantee that the offer which made is the price  that is ultimately paid, at auction the fall of the hammer is the price  at which the buyer  is committed to. There are no chains of buyers to fall down, no survey surprises that require re-negotiation and  no sales  subject to planning  permission being  obtained. When contracts are exchanged in the auction room a 10% deposit is left by the successful bidder which they risk forfeiting should they not complete the purchase on time.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Best Price</div>
            <div class="col-xs-12 description">Extensive marketing along with a busy, vibrant sale room with competitive bidding will help achieve the best price  for a property on the day.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Legal</div>
            <div class="col-xs-12 description">All the legal paperwork is available in advance of the auction day, so there are no delays.</div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Why 3A Auctions?</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12 description">3A Auction House is a leading Auction House in Nigeria, specializing in the efficient disposal of a range of residential and commercial properties, vehicles and other possessions on behalf of both private individuals and corporate bodies. We provide exciting buying opportunities and an unsurpassed property exit strategy that can help sellers move properties faster and at a greater profit.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Auction Appraisal</div>
            <div class="col-xs-12 description">Contact us and we will give you a free, no-obligation appraisal as to whether your property is suitable for auction and  the level at which the guide  price  should  be set.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Instructions</div>
            <div class="col-xs-12 description">Should you wish to proceed we will confirm with you our terms and conditions of engagement and prepare the catalogue entry.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Legal Pack</div>
            <div class="col-xs-12 description">You will need to contact your solicitor and instruct them to prepare an auction legal pack on your behalf.   We will
alsocontact them  with details  of how to send and  format the pack so that we can  make  it available  to prospective bidders.
</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Marketing</div>
            <div class="col-xs-12 description">Our office will conduct viewings on the run up to the auction in addition to circulating the property to interested parties registered with us.  Enquiries and viewings of the property are logged and analyzed so that we can best advise you as to the level of interest the property has attracted on the run up to the auction.   In addition to this, the printed and digital catalogues will be produced and circulated.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Reserve Price</div>
            <div class="col-xs-12 description">This is the price below which we cannot sell the property.  Prior to the auction, based upon the level of interest, feedback and any pre-auction expressions of interest, we will discuss and confirm with you the reserve price for the property.
It may well be the case that a pre-auction offer is made that is unlikely to be bettered in the auction room.   In this instance we
Can conduct a pre-auction sale, under auction conditions requiring an exchange of contracts prior to auction day.
</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Auction Day</div>
            <div class="col-xs-12 description">Anyone wishing to bid on a property we are offering for sale is required to register with us prior to the sale commencing.  This means that we are doing everything we can to ensure that anyone who successfully buys your property is able to fulfil their obligations. Once the hammer falls a legally binding contract is formed.   We will supervise the signing of the
Memorandum of Sale and the payment of the 10% deposit in the absence of your solicitor.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Completion</div>
            <div class="col-xs-12 description">We will issue you with a notification of sale completion will be within 15 working days although this can be altered should you wish.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Unsold lots</div>
            <div class="col-xs-12 description">Should your property not sell on the day of the auction we will make it available  “post auction” for a period of days before the next auction.   Typically, properties that are not sold in the room are sold a few days after the auction or re-entered into the next auction.</div>
        </div>
    </div>

</div>
