<div class="header_img" id="faq_head">
    <div class="container">
        <div class="col-xs-12 img_container">
            <div class="col-xs-12 np" id="search_box">
                <span class="col-xs-12 intro_header ">
                    A Guide to buying at 3A Auction House
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="faqs">
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Introduction</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12 description">
                Auctions are a popular way of buying properties, not only by large institutions and public bodies, but also by small developers and private investors wishing to capitalise on picking up a “bargain” in a property auction.
<br/>
One of the main benefits of buying properties at auction is the speed with which it takes place.  Purchasing a property from a Real Estate Agent (via a private treaty sale) may take 3-6 months from the initial inspection to completion. From the time the auction catalogue arrives on in your possession, you only have about 3 weeks until exchange of contracts at the auction.  Completion will usually follow within 15 working days.
<br/><br/>
Remember, at the “fall of the gavel” contracts are considered exchanged and the property is yours.

The purpose of this guide is to assist buyers identifying the areas they need to consider within the short time scales they have, so that they can  come to an auction and  bid with confidence. There are three main topics a buyer needs to consider before they come to an auction;
<br/><br/>
1. What is the property worth, and what condition is it in? Having chosen the property that interests you, get as many comparable properties from local estate agents with the same type of
accommodation and  inspect as many of them  as possible. You will then be able to build up a picture of how the property compares with others. Speak to as many people locally as possible to find out as much as you can about the area where the property is situated. In this way you are valuing the property.
<br/><br/>
You can get additional help in the following ways:-
• Ask a member of the family or a friend who knows about property maintenance to give an opinion as to what needs to be done to put the property in good order,
• Obtain quotes from builders for works and costs of refurbishment.
• Take professional advice from a Chartered Surveyor.
The costs vary according to survey type that reflects the amount of detail each report goes into. 
<br/><br/>
2. How are you going to fund your purchase?
At the time of the auction, your finances should be in place.  If your purchase is not being financed by you, our advice is do not purchase the property unless your finances are water tight
as there will be legal obligations and  penalties if you are unable to complete the transaction. Remember, completion often takes place 15 working days or less from the date of the auction!
<br/>
If you are not a cash buyer and you need to obtain a mortgage, shop around to get the best deal to suit you. Place your mortgage with any of our financial partners of your choice at the earliest possible time. Mortgage offers can take at least 2 weeks to process so alert your Financial Advisor that you are buying the property by auction so that he can speed things up.
<br/><br/>
3. What do I do about the legal matters?
For every property in our auction catalogue we provide us a legal pack.  These packs are available to view online by visiting our website www.3aauctions.com. The legal pack can always be viewed in the auction room on the day of the sale. It is important that either you or your lawyer/solicitor inspect this paperwork prior to the auction.  A lawyer/solicitor will be able to point
out to you whether or not the property has a legal clean  bill of health. The legal pack usually includes
the Land Registry Search, Title documents, a copy  of any Leases affecting  the property and  Special  Conditions of
Sale.
<br/><br/>
Having taken proper legal advice, with your funding in place,  having considered the value and  condition of the property and  feeling confident that you know everything possible about the property of your choice, you are now ready  to go to auction.


            </div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">What happens at an Auction?</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">REGISTRATION</div>
            <div class="col-xs-12 description"> You will be asked to complete a registration form before you are given a bidding number.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">PERSONAL  DETAILS</div>
            <div class="col-xs-12 description">You need some means of identification for the Auctioneers, so please bring with you your passport and driving licence and  a public utility bill, which must  be no older  than  three months. If you are buying for, or on behalf of anyone else,  please contact us for a full list of the qualifying documents and  verification required.</div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">DEPOSIT</div>
            <div class="col-xs-12 description">
                If you buy a property, you will be asked to come to a settling desk to sign the memorandum of sale in duplicate. At that time you will be asked to provide a deposit of 10% of the purchase price or a minimum of N2,000,000 for properties which are sold for less than  N20,000,000. There are some exceptions to the rules and minimum deposits can be higher than N2,000,000. Check with the Auctioneers before you come to the auction in case you need to bring a higher deposit. In addition to the deposit payable upon exchange of contracts, buyers will be required to pay an administration charge.
The charge is N150,000 (inclusive of VAT). A full VAT receipt will be issued at the auction.  Deposits plus administration charges can be paid by cleared funds – e-transact instant payment
            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">THE CONTRACT</div>
            <div class="col-xs-12 description">Once the memoranda of sale have been completed, one copy is given to you which you should take to your lawyer/solicitors.  The second copy and deposit are retained for the seller.  Completion will take place in around 15 working days or as detailed in the legal pack</div>
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Do’s and Don’ts </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Do's</div>
            <div class="col-xs-12 description">
                Bring to the auction originals of the necessary identification documents required. For further information contact the Auctioneers if you are unsure what to bring.

• Take professional advice. Employ the services of a lawyer/solicitor to vet the legal pack.  If you need a mortgage take advice  from a Financial Advisor as to the best  type of mortgage to suit yourself.

• Contact the Auctioneers the day before the auction to confirm that the property you are interested in is being sold the following day. The nature of auctions can mean that properties are withdrawn at the last minute.

            </div>
        </div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Don'ts</div>
            <div class="col-xs-12 description">
                Do not buy the property if you have not arranged finance prior to the auction.

            • Do not expect to pay the deposit by cheque. We are unable to process these payments.

            • Don’t forget, once the hammer drops you are obliged to meet the price. It is too late to negotiate after the property has been knocked down to you.

            • Don’t forget to read the addendum. This will be available on the day of the auction and contains important last minute information about the lots being offered for sale.

            </div>
        </div>
</div>
<div class="col-xs-12 faq_category">
    <div class="col-xs-12  content_sub_header">Other  Notes of Interest </div>
    <div class="col-xs-12 np faqQA">
        <div class="col-xs-12  content_min_header">What is a Guide Price?</div>
        <div class="col-xs-12 description">
            This is an indication of the seller's current minimum acceptable price either prior to or at auction.  The guide price or range of guide prices is given to assist consumers in deciding whether or not to pursue a purchase. It is usual, but not always the case, that a provisional reserve range is agreed between the seller and the auctioneer at the start of marketing. As the reserve is not fixed at this stage and can be adjusted by the seller at any time up to the day of the auction in the light of interest shown during the marketing period, a guide price is issued.
<br/><br/> This guide price can be shown in form of a minimum and maximum price range within which an acceptable sale price  (reserve) would fall, or as a single  price  figure within 10% of which the minimum  acceptable price  (reserve) would fall. It is not a valuation and, as such,  should  not be relied  upon  by prospective purchasers who should  obtain  their own professional advice  on values.  A guide  price  is different  to a reserve price  (see  below  definition). Both the guide price  and  the reserve price can  be subject to change up to and  including  the day of the auction.

        </div>
    </div>
    <div class="col-xs-12 np faqQA">
        <div class="col-xs-12  content_min_header">What is a Reserve Price?</div>
        <div class="col-xs-12 description">
            Each property is subject to a reserve price.  This is the seller’s minimum acceptable price at auction and the figure below, which the auctioneer cannot sell. The reserve price is not disclosed and remains confidential between the seller and the auctioneer. Both the guide price and the reserve price can be subject to change up to and including the day of the auction.
        </div>
    </div>
    <div class="col-xs-12 np faqQA">
        <div class="col-xs-12  content_min_header">Offers</div>
        <div class="col-xs-12 description">
             You may make an offer pre-auction on your chosen property. By law these will be forwarded to the sellers for their consideration. Please make any offers directly to the Auctioneers
        </div>
    </div>
    <div class="col-xs-12 np faqQA">
        <div class="col-xs-12  content_min_header">Insurance</div>
        <div class="col-xs-12 description">
            From the time that the property is sold to you at the auction, it is at your insurable risk. Please make sure that you obtain insurance cover urgently after the auction.

If you follow this guide you should be more prepared than most when you attend an auction.  Take the right advice and come to an auction and bid with confidence. You may just get a bargain
        </div>
    </div>
</div>
</div>
