<div class="container-fluid header_img np">
    <ul class="bxslider" ng-init="startSlider()">
      <li class="first col-xs-12">
          <div class="col-xs-12 np">
              <div class="col-xs-12 np">
                  <div class="col-xs-12 home_intro np">
                      <div class="col-xs-12 intro_header frontPage np ">
                          Nigeria's First General Auction House
                      </div>
                      <div class="col-xs-12 intro_subhead">Every bid counts!</div>
                      <div class="col-xs-12">
                          <a class="primary_button" href="#/auction" >SEE AUCTIONS </a>
                      </div>
                      <div class="col-xs-12 hidden-xs">
                          <img src="images/arrow down.png" class="scroller_arrow" width="10" height="40" />
                      </div>
                  </div>
              </div>
          </div>
      </li>
      <li  class="col-xs-12 second">
          <div class="col-xs-12 np">
              <div class="col-xs-12 np">
                  <div class="col-xs-12 home_intro np" >
                      <div class="col-xs-12 intro_header frontPage np">
                          We Are Accepting Lots For Our November <br />And December Auctions
                      </div>
                      <div class="col-xs-12 intro_subhead"></div>
                      <div class="col-xs-12">
                          <a class="primary_button" href="#/contact" >CONTACT US</a>
                      </div>
                      <div class="col-xs-12  hidden-xs">
                          <img src="images/arrow down.png" class="scroller_arrow" width="10" height="40" />
                      </div>
                  </div>
              </div>
          </div>
      </li>
    </ul>
    <!-- <div class="container-fluid">
        <div class="col-xs-12 img_container"></div>
    </div> -->
</div>
<!-- <div class="container" id="on_going_auction">
    <div class="col-xs-12 content_head">
        <span class="col-xs-12 col-sm-8 content_main_header np">
            Ongoing Auction
        </span>
        <span class="col-xs-12 col-sm-4 np">
            <span class="primary_button pull-right">
                See all  <span class="icon button_arrow left_arrow">
            </span>
        </span>
    </div>
    <div class="col-xs-12  col-sm-6 col-md-3 auction_item shadow np">
        <div class="col-xs-12 np img_container">
            <img src="" height="auto" class="col-xs-12 np" />
            <span class="auction_notification shadow">
                <span class="close_icon icon"></span>
                Closes 20 Oct. 2016
            </span>
        </div>
        <div class="col-xs-12 auction_thumbDetails ">
            <span class="col-xs-12 title np">5 Bedroom Apartment</span>
            <span class="col-xs-12 price np"><span> &#8358; </span>25,000,000</span>
            <span class="col-xs-12 secondary_button">Bid Now <span class="icon left_arrow"></span></span>
        </div>
    </div>
</div> -->

<div class="container-fluid" id="how_it_works">
    <div class="container">
        <span class="col-xs-12 content_main_header np">
            The real deal for both buyers and sellers
        </span>
        <span class="col-xs-12 content_description">
            3A Auction House is a leading Auction House in Nigeria, specializing in the
            efficient disposal of a range of residential and commercial properties,
            vehicles and other possessions on behalf of both private individuals and corporate bodies.
            We provide exciting buying opportunities and an unsurpassed property exit strategy that can help sellers
            move properties faster and at a greater profit.
        </span>
        <div class="col-xs-6 col-sm-4">
            <div class="col-xs-12">
                <div class="pull-right">
                    <div class="highlight round">
                        <img src="images/icon-1.png" width="100%" />
                    </div>
                    <div class="highlight_description">Offline Auction</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4">
            <div class="col-xs-12 col-sm-9 col-sm-offset-3 ">
                    <div class="highlight round">
                        <img src="images/icon-2.png" width="100%" />
                    </div>
                    <div class="highlight_description">Incredible Deals</div>
            </div>
        </div>
        <div class="col-xs-9 col-xs-offset-3 col-sm-4 col-sm-offset-0">
            <div class="col-xs-12 col-sm-6">
                <div class="highlight round">
                    <img src="images/icon-3.png" width="100%" />
                </div>
                <div class="highlight_description">Online Auction</div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" id="how_it_works_video">
    <div class="row">
        <div class="col-xs-12 content_main_header">It's a lot Easier than you thought</div><br/>
        <div class="col-xs-12"><br/><a href="" class="secondary_but s_but_2">Watch Video</a></div>
    </div>
</div>
<div class="container-fluid" id="how_it_works">
    <div class="container">
        <div class="col-xs-12">
            <span class="col-xs-12 content_main_header np">
                How It Works
            </span>
        </div>
        <div class="col-xs-12 howitwork">
            <div class="col-xs-12 col-sm-8 np pull-right-xs">
                <span class="col-xs-12 sub_header np">
                    Set Up a Profile
                </span>
                <span class="col-xs-10 description np just">
                    Setting up a profile is super easy, we just need basic information like your name and email address. However,
                    you would need to submit a valid copy of a government issued Identity card (driver's license or International passport) and
                    a proof of address (a utility bill).

                </span>
            </div>
            <div class="col-xs-8 col-sm-4 how_it_works_img_container np ">
                <span class="round numbering shadow_2">1</span>
                <img class="pull-right how_it_works_img"  src="images/step1.png"  />
            </div>
        </div>
        <div class="col-xs-12 howitwork">
            <div class="col-xs-8  col-sm-4 how_it_works_img_container description np">
                <span class="round numbering_l shadow_2">2</span>
                <img class=" how_it_works_img"  src="images/step2.png"  />
            </div>
            <div class="col-xs-12 col-sm-8 np">
                <span class="col-xs-12 sub_header np">
                    Launch a bid
                </span>
                <span class="col-xs-10 description np just">
                    There are several open bids going on at any given moment on our platform. Start acquiring properties at record
                    deals by clicking on the <a href="#/auction" class="des_link">Auction</a> menu; place your maximum bid on your desired property; cross your fingers
                    and hope no one out bids you.
                </span>
            </div>

        </div>
        <div class="col-xs-12 howitwork">
            <div class="col-xs-12 pull-right-xs col-sm-8 np">
                <span class="col-xs-12 sub_header np">
                    Put-up your property for Auction
                </span>
                <span class="col-xs-10 description np just">
                    Yes, we can help you sell your property. All we need is pictures, basic details and any supporting document that validates
                    you as the owner of the property. Our team will verify your documents, if all is in order, then consider your property sold.
                </span>
            </div>
            <div class="col-xs-8 col-sm-4 how_it_works_img_container np">
                <span class="round numbering shadow_2">3</span>
                <img class="pull-right how_it_works_img" src="images/step3.png" />
            </div>
        </div>
        <div class="col-xs-12 howitwork">
            <div class="col-xs-8 col-sm-4 how_it_works_img_container description np">
                <span class="round numbering_l shadow_2">4</span>
                <img class=" how_it_works_img"  src="images/step4.png" />
            </div>
            <div class="col-xs-12 col-sm-8 np">
                <span class="col-xs-12 sub_header np">
                    Close your Deal
                </span>
                <span class="col-xs-10 description np just">
                    You have won the bid or your property has been sold, before you go off partying, we've got some papers for you
                    to sign. Plus, we have partnerships with some financial organisations that can help you with a payment plan.
                </span>
            </div>

        </div>
    </div>
</div>
