<div class="header_img" id="faq_head">
    <div class="container">
        <div class="col-xs-12 img_container">
            <div class="col-xs-12 np" id="search_box">
                <span class="col-xs-12 intro_header ">
                    What we do
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container" id="faqs">
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">WHY AUCTION ?</div>
        <div class="col-xs-12 np faqQA"
            <div class="col-xs-12 description">3A Auction House is a leading Auction House in Nigeria, specializing in the efficient disposal of a range of residential and commercial properties, vehicles and other possessions (otherwise referred to as lots)  on behalf of both private individuals and corporate bodies. We provide exciting buying opportunities and an unsurpassed property exit strategy that can help sellers move properties faster and at a greater profit.
        </div>
    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Identification of Needs</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12 description">Financial Institutions do not want to hang on to repossessed stocks, as these stocks drain money. As long as a bank owns the property, it has to pay property taxes and insurance, and maintain a cash reserve for any emergencies. These tie up funds the bank could be investing in more profitable avenues.
<br/><br/>
Most banks are not real estate professionals, so a real estate agent will have to be hired to sell the property on behalf of the bank; this takes time that can be better utilized. If the bank has a lot of repossessed properties on its books, it may take even longer than six months to get around to initiating the sale process and another six months on the market before eventual sale.
<br/><br/>
Banks are not specialized in maintenance and repair; and if these properties are not maintained, they deteriorate, as does their value. 3A Auction House is offering to take the duties off financial institution’s hands by putting these properties up for sale in an Auction. The bank will simply put it up for sale "as is" and let the buyers take a chance.
</div>
        </div>

    </div>
    <div class="col-xs-12 faq_category">
        <div class="col-xs-12  content_sub_header">Proposed Solution</div>
        <div class="col-xs-12 np faqQA">
            <div class="col-xs-12  content_min_header">Auction Advantage & Seller Benefits</div>

            <div class="col-xs-12 description">
                An auction is an aggressive, advanced marketing program that increases potential interest in and awareness of a property.
                <br>
                Never have to worry about selling too cheap. <br>
                Offers the seller a faster alternative.<br>
                Creates competition among buyers - auction prices can exceed the price of a negotiated sale. An auction generates excitement and heightens other buyers’ interests. <br>
                Exposes the property to a wider range of pre-qualified prospective buyers. <br>
                Requires that potential buyers pre-qualify for loans with partner banks.<br>
                Property is sold ‘as is’, ‘where is’ and ‘how is’ without contingencies.<br>
                Accelerated sales - the property can sometimes be sold within three weeks of listing.<br>
                Eliminates high seller carrying costs - (such as interest, taxes, maintenance). <br>
                Auction brings interested buyers to a ‘tight spot’ - they must act now or lose an opportunity to purchase.<br>
                Auction is a true market forum - the highest buyer pays the lowest price a seller will accept.<br>
                A seller knows exactly when the property will sell. <br>
                A seller sets the terms and a condition of the sale, maintains control of the property throughout the auction (depending on auction type), and actively participates in the sale process.<br>
                Auctions reduce the length of time the property is on the market.<br>
                With this option, sellers eliminate numerous and unscheduled showings.<br>
                The seller is taken out of the negotiation process.<br>
                The seller is able to obtain liquidity, move on to other investments and free up capital.<br>
            </div>
        </div>
    </div>
</div>
