<div class="" style="padding:5px 15px; background:#ccc; color:#555"> <h2>Update Existing Inventory</h2></div>
    <form  ng-submit="editinventory()" enctype="multipart/form-data">
        <div class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Select inventory Category</b></div>
            <span>
                <select ng-options="item.CategoryId as item.CategoryName for item in all_category" ng-model="inventory.categoryId">
                </select>
            </span>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Select Inventory Subcategory</b></div>
            <div>
              <select required ng-options="option.subcategoryId as option.subcategoryName for option in all_subcategory"  ng-model="inventory.subcategoryId">
              </select>
            </div>
        </div>
        <div class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory Type</b></div>
            <input type="text" ng-model="inventory.type"/>
        </div>
        <div class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory Title</b></div>
            <input type="text" ng-model="inventory.name"/>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory Description</b></div>
            <input type="text" ng-model="inventory.description"/>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory Location</b></div>
            <textarea ng-model="inventory.address"></textarea>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory Local government/City/Town</b></div>
            <input type="text" ng-model="inventory.lg"/>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory State</b></div>
            <input type="text" ng-model="inventory.state"/>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory Country</b></div>
            <input type="text" ng-model="inventory.country"/>
        </div>
        <div  class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory starting Price</b></div>
            <input type="text" ng-model="inventory.startingPrice" ng-bind="inventory.startingPrice | number:2"/>
        </div>
        <div  class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory Reserve Price</b></div>
            <input type="text" ng-model="inventory.reservePrice "/>
        </div>
        <div class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory Bidding Rate</b></div>
            <input type="text" ng-model="inventory.biddingGap"/>
        </div>
        <div class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory Buy Now Price</b></div>
            <input type="text" ng-model="inventory.buyNowPrice "/>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory Bidding Opens</b></div>
            <div>
                <input type="text" ng-model="inventory.biddingStartDate"/>
                <input type="text" ng-model="inventory.biddingStartTime"/>
            </div>
        </div>
        <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><b>Inventory Bidding Closes</b></div>
            <div>
                <input type="text" ng-model="inventory.biddingCloseDate"/>
                <input type="text" ng-model="inventory.biddingCloseTime"/>
            </div>
        </div>
        <div ng-show="inventory.inventory_data[6]!=''"  class="" style="padding:10px; background:#eee; color:#555">
            <div><b>Inventory status</b></div>
            <input type="text" ng-model="inventory.status"/>
        </div>
    <div class="" style="padding:10px; background:#eee; color:#555">
        <div><b>Tags</b></div>
        <div>
            <select ng-options="option.value as option.name for option in itag" ng-change="addtag()" ng-model="taglist">
            </select>
        </div>
        <div>
            <textarea id="inventory_tagt" name="inventory_tag" cols="50" rows="8" ng-model="idata[11]" ></textarea>
        </div>
    </div>
    <div class="" style="padding:10px; background:#eee; color:#555">
        <div><b>Inventory Reward</b></div>
        <div>
            <input type="textbox" name="inventory_reward" ng-model="idata[15]" />
        </div>
    </div>
    <div class="col-xs-12 nop" style="background:#ddd; height:100px">
        <div class="col-xs-12 thumb_house">
            <div class="thumb_holder">
                <div class="thumb link" style="float:left;" ng-repeat="img in img_list">
                  <img ng-src="itemimages/{{img}}" width="80px" height="54px" />
                  <button ng-show="$index!=0" ng-click="delete_pic($index)">Delete Picture</button>
                  <a href="" ng-show="$index!=0"  ng-click="make_prof($index)">Make Profile Picture</a>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="padding:10px; background:#eee; color:#555">
        <div><b>Upload More Pictures</b></div>
        <div>
            <div><input type="file" name="pic1" id="pic1" size="30" file-model="images.pic1"  /></div>
            <div><input type="file" name="pic2" id="pic2" size="30" file-model="images.pic2" /></div>
            <div><input type="file" name="pic3" id="pic3" size="30" file-model="images.pic3" /></div>
            <div><input type="file" name="pic4" id="pic4" size="30" file-model="images.pic4" /></div>
            <div><input type="file" name="pic5" id="pic5" size="30" file-model="images.pic5" /></div>
            <div><input type="file" name="pic6" id="pic6" size="30" file-model="images.pic6" /></div>
        </div>

    </div>
    <div class="col-xs-12 nop" style="background:#ddd; height:100px">
        <div class="col-xs-12 thumb_house">
            <div class="thumb_holder">
                <div class="thumb link" style="float:left;">
                  <img ng-src="itemimages/{{idata[14]}}" width="80px" height="54px" />
                </div>
            </div>
        </div>
    </div>
    <div  style="padding:10px; " ><input type="submit" value="Edit inventory" name="EditInventory" /></div>
</form>
