<div ng-switch="auth">
    <div ng-switch-default>
        <form ng-submit="bauth(cred)">
            <input type="text" required placeholder="Username" ng-model="cred.username" />
            <input type="password" required placeholder="Password" ng-model="cred.password" />
            <input type="submit" value="submit" />
        </form>
        <div ng-bind="info"></div>
    </div>
    <div ng-switch-when="authenticated">
        <div class="" style="padding:5px 15px; background:#ccc; color:#555"><h2>Update Item Bank</h2></div>
        <div class="" style="padding:10px; background:#eee; color:#555">
            <div><a href="#/manageAuctionCategory">Manage Auction Category</a></div>
          </div>
          <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><a href="#/manageAuctionInventory">Add Auction Inventory</a></div>
          </div>
          <div class="" style="padding:10px; background:#bbb; color:#555">
            <div><a href="#/viewallI">View all Auction Inventory</a></div>
          </div>
          <div class="" style="padding:10px; background:#eee; color:#555">
            <div><a href="#/biddingHistory">Manage Bidding History</a></div>
          </div>
          <div class="" style="padding:10px; background:#eee; color:#555">
            <div><a href="#/manageBanner">Manage Pages</a></div>
          </div>
          <div  style="padding:10px;"><b>Last Updated :</b> <span ng-bind="init_data.last_update"></span></div>
          <div  style="padding:10px;"><b>Total Items :</b><span ng-bind="init_data.total_items"></span></div>
    </div>
</div>
