<div class="" style="padding:5px 15px; background:#ccc; color:#555"><h2>Inventory View</h2></div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Selected Inventory Category</b></div>
          <div  ng-bind="inventory.subCategory.category.name"></div>
      </div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Selected Inventory Sub Category</b></div>
          <div ng-bind="inventory.subCategory.SubCategoryname"></div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Selected Inventory Type</b></div>
          <div ng-bind="inventory.type"></div>
      </div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory Title</b></div>
          <span ng-bind="inventory.name">   </span>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory Description</b></div>
          <div ng-bind="inventory.description">   </div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory Location</b></div>
          <div ng-bind="inventory.address">   </div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory Local government/City/Town</b></div>
          <div ng-bind="inventory.lg">   </div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory State</b></div>
          <div ng-bind="inventory.state">   </div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory Country</b></div>
          <div ng-bind="inventory.country">   </div>
      </div>
      <div  class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory starting Price</b></div>
          <div ng-bind="inventory.biddingSettings.startingPrice | number:2"> </div>
      </div>
      <div  class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory Reserve Price</b></div>
          <div ng-bind="inventory.biddingSettings.reservePrice | number:2"> </div>
      </div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory Bidding Rate</b></div>
          <div ng-bind="inventory.biddingSettings.biddingRate | number:2"> </div>
      </div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory Buy Now Price</b></div>
          <div ng-bind="inventory.biddingSettings.buyNowPrice | number:2"> </div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory Bidding Opens</b></div>
          <div>
              <span ng-bind="inventory.biddingSettings.startTimeStamp | date:'dd-MMM-yyyy , HH:mm:ss Z'"></span>
          </div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Inventory Bidding Closes</b></div>
          <div>
              <span ng-bind="inventory.biddingSettings.closeTimeStamp | date:'dd-MMM-yyyy , HH:mm:ss Z'"></span>
          </div>
      </div>
      <div ng-show="inventory.inventory_data[6]!=''"  class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory status</b></div>
          <div ng-bind="inventory.status"> </div>
      </div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory Tag</b></div>
          <div ng-bind="inventory.inventoryTags.tags"></div>
      </div>
      <div class="" style="padding:10px; background:#eee; color:#555">
          <div><b>Inventory Rate</b></div>
          <div ng-bind="inventory.rate"></div>
      </div>
      <div class="" style="padding:10px; background:#bbb; color:#555">
          <div><b>Picture Uploaded</b></div>
          <div class="col-xs-12 nop" style="height:auto">
	          <div class="col-xs-12 nop  col-sm-6" style="height:auto; position:relative; background:#555">
	              <div class="col-xs-12 nop" style="background:#555; height:200px">
	              		<img ng-src="../uploads/{{main_img}}" width="300px" height="200px"/>
	              </div>
	              <div class="col-xs-12 nop" style="background:#ddd">
	                  <div class="col-xs-12 thumb_house nop">
	                      <div class="col-xs-12 thumb_holder">
	                          <div class="col-xs-12 thumb_img col-sm-4 link" style="float:left;" ng-repeat="img in img_list">
	                          	<img ng-src="../uploads/{{img}}" width="80px" height="54px" ng-click="disp_img(img)"/>
	                          </div>
	                      </div>
	                  </div>
	                  <div class="slide_mover mleft link" ng-click="moves('l')"><span class="glyphicon glyphicon-menu-left"></span></div>
	                  <div class="slide_mover mright link" ng-click="moves('r')"><span class="glyphicon glyphicon-menu-right"></span></div>
	              </div>
	          </div>
          </div>
      </div>

      <span  style="padding:10px; " ><b>Last Updated:</b> <span ng-bind=" inventory.dateCreated"></span><br/>
      <span  style="padding:10px; " ><b>Date Created:</b> <span ng-bind=" inventory.lastUpdated"></span></span><br/><br/>
      <span  style="padding:10px; " ><b>Auction Setting Last Updated:</b> <span ng-bind=" inventory.biddingSettings.lastUpdated"></span><br/>
      <span  style="padding:10px; " ><b>Auction Setting Date Created:</b> <span ng-bind=" inventory.biddingSettings.dateCreated"></span></span><br/>
      <span  style="padding:10px; " ><a href="#/manageAuctionInventory">Add New inventory</a></span>
      <span  style="padding:10px; " ><a href="#/editI/{{inventory._id}}">Edit this inventory</a></span>
      <span  style="padding:10px; cursor:pointer; text-decoration: line-through;" ><a  ng-click="delete(inventory.inventory_data[0])">Delete inventory</a></span>
      <span  style="padding:10px; " ><a href="#/viewallI">View all inventories</a></span>
